* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.home .content-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.home #create-game {
    margin: 1.25rem;
    color: #fff;
    background: rgb(3, 7, 48);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1); /* Adjust the border transparency */
}

.home .modal .form {
    background: #000 !important;
}


#modalCard
{
   
    color: #fff;
    background: rgb(3, 7, 48);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1); /* Adjust the border transparency */
}


@media (max-width: 600px) {

    .home {
        align-items: start;
    }

    .home .card {
        min-height: unset;
    }
}